<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285616272501-4cqui5u6hdrk8q2ij7pqc3nf66gvlor0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285616272501-4cqui5u6hdrk8q2ij7pqc3nf66gvlor0</string>
	<key>API_KEY</key>
	<string>AIzaSyAsbKwKQfEgyzAR1GLlmxY-gsL2AwI75uM</string>
	<key>GCM_SENDER_ID</key>
	<string>285616272501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kabtour.mykomodo</string>
	<key>PROJECT_ID</key>
	<string>mykomodov2-72979</string>
	<key>STORAGE_BUCKET</key>
	<string>mykomodov2-72979.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285616272501:ios:0510d587b20bd41b2df43c</string>
</dict>
</plist>